# set this port in the Dockerfile too
PORT=
# Database: main
# Collections:
# - accounts
# - profileinfo
# - userpokemon
# - custompokemonstats
# see readme for more
MONGODB_URI=
# Long random string, used to store cookies
SESSION_SECRET=